#table-area {
  margin-top: 50px;
}

.btn-area {
  margin-top: 26px;
  margin-left: 15px;
}

.btn-success {
  background-color: #49b98d;
  border-color: #49b98d;
}

.btn-warning {
  background-color: #f86464 !important;
  border-color: #f86464 !important;
  color: white !important;
}

.container-fluid {
  padding-top: 120px;
  padding-bottom: 120px;
}

.custom-switch {
  padding-top: 8px;
}

tbody input {
  padding: 6px 10px 10px 10px;
  border: 1px solid lightgrey !important;
  border-radius: 6px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff !important;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

tbody input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #512DA8;
  outline-width: 0;
}

::-webkit-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

::-moz-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #BDBDBD;
  opacity: 1;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #BDBDBD;
}

button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
